.footer {
  background: black;
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 100px;
}

@media (max-width: 1200px) {
  .footer {
    padding: 50px;
    font-size: 12px;
    background: green;
  }
}
