.footer {
  background: #000;

  .footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;

    .footer_logo {
      transition: filter 0.3s ease;
    }

    .logo {
      display: flex;
      gap: 45px;
    }
  }
}
