.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  .header_logo {
    .header_img {
    }
  }
  .menu_list {
    display: flex;
    align-items: center;
    gap: 30px;
    .menu_item {
      .menu_link {
        font-family: "Gothic";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -1px;
        color: #292929;
        transition: ease 0.3s;
      }
    }
    .menu_link:hover {
      color: #925ff0;
      cursor: pointer;
    }
  }

  .button {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 4px;
    background: #e9dffc;
    transition: ease 0.3s;
    color: #784dc7;
    cursor: pointer;
  }

  .button:hover {
    background: #cbafff;
    color: white;
  }

  .button:active {
    background: #925ff0;
    color: white;
  }
}
