.hero {
  display: flex;
  justify-content: space-between;
  text-align: center;

  .hero_img {
  }
  .hero_container {
    .hero_title_ctn {
      text-align: center;
      .hero_title {
        padding-top: 239px;
        text-align: center;

        color: #925ff0;
        font-family: "Anton", sans-serif;
        font-size: 200px;
        font-style: normal;
        font-weight: 400;
        line-height: 200px;
        opacity: 0.8;
      }
      .arrow {
        padding: 170px 0 0 0;
      }
    }
  }
}
