.hero_container {
  display: flex;
  justify-content: space-between;
  text-align: center;

  .hero_img {
  }

  .hero_title_ctn {
    text-align: center;
    .hero_title {
      padding-top: 239px;
      text-align: center;
      color: #925ff0;
      font-family: Anton;
      font-size: 130px;
      font-style: normal;
      font-weight: 800;
      line-height: 100%; /* 200px */
    }
    .arrow {
      padding: 170px 0 0 0;
      transition: ease 0.3s;
    }

    .arrow:hover {
      transform: translateY(20px);
    }
  }
}
